# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

 ../../../.azuredatastudio/
        ../../../.bash_history
        ../../../.config/
        ../../../.eclipse/
        ../../../.gitconfig
        ../../../.lesshst
        ../../../.pm2/
        ../../../.ssh/
        ../../../.vscode/
        ../../../3D Objects/
        ../../../AppData/
        ../../../Contacts/
        ../../!WGUA.Bin/
        ../../.tmp.driveupload/
        ../../CV Short.pdf
        ../../CV.pdf
        ../../Captura de pantalla 2024-01-25 144006.png
        ../AUTO/
        ../CURSOS/
        ../Documentos/
        ../EJEMPLO PRECIOS.xlsx
        ../FACTURAS/
        ../Formulario objetivos Franco Balsamo 2023 (2).xlsx
        ../Gastos.xlsx
        ../KUGA/
        ../Office 2016 free/
        ../RECIBO/
        ../TARJETA.xlsx
        ../desktop.ini
        ../multa/
        ../multas.txt
        ../../Postman.docx
        ../../SISTEMAS/
        ../../api.png
        ../../desktop.ini
        ../../weight.docx
        "../../\316\251WGUA.Bin/"
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../../OneDrive/
        ../../../Pictures/
        ../../../PycharmProjects/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Tracing/
        ../../../Videos/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
